function formatDate(ts) {
  date = getDate(ts)
  year = date.getFullYear()
  month = date.getMonth() + 1
  day = date.getDate()
  hour = date.getHours()
  minute = date.getMinutes()
  second = date.getSeconds()

  return [year, month, day].map(formatNumber).join('/') + ' ' + [hour, minute, second].map(formatNumber).join(':')
}
// function formatDate(ts) {
//   　　var time = getDate(ts);
//   　　var year = time.getFullYear();
//   　　var month = time.getMonth() + 1;
//   　　var date = time.getDate();
//   　　var hour = time.getHours();
//   　　var minute = time.getMinutes();
//   　　var second = time.getSeconds();
//   　　month = month < 10 ? "0" + month : month;
//   　　date = date < 10 ? "0" + date : date;
//   　　hour = hour < 10 ? "0" + hour : hour;
//   　　minute = minute < 10 ? "0" + minute : minute;
//   　　second = second < 10 ? "0" + second : second;
//   　　return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
// }
function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

module.exports = {
  formatDate: formatDate
};